# Rename this file to ".env", set apporpriate file permissions (0600) and fill in all fields based on your setup

# URL adress where this app will be available
SERVER_URL=http://localhost:8080
# Database credentials
DB_HOST=localhost
DB_PORT=5432
DB_USER=user123
DB_PASS=password123
DB_NAME=db_name_123
DB_SSLMODE=require # or disable

# Client IDs and SECRETs for identity prviders that will be used fo OIDC
GOOGLE_OAUTH2_CLIENT_ID=XXXX
GOOGLE_OAUTH2_CLIENT_SECRET=XXXX

# Email provider: "resend" or "smtp"
EMAIL_PROVIDER=resend

# Notifications via Resend (https://resend.com)
RESEND_API_KEY=re_xxxxxxxxxxxx
EMAIL_FROM_ADDR=Nixpkgs Notifier <notify@yourdomain.com>

# Notifications via custom SMTP server
SMTP_HOST=smtp.school.cz
SMTP_PORT=587
SMTP_USER=nixpkgs-notifier@school.cz
SMTP_PASS=yourpassword
SMTP_FROM=nixpkgs-notifier@school.cz

# CONFIG (overridable at runtime via admin UI):

# Notification dispatcher settings
NOTIFICATION_DISPATCH_INTERVAL=3m #defaults to 3m when left out
NOTIFICATION_MAX_RETRIES=3 #defaults to 3 retries when left out
NOTIFICATION_DISABLE_ON_MAX_RETRIES=true #defaults to true when left out
NOTIFICATION_WORKER_COUNT=2 #defaults to 2 workers when left out

# Periodic package version checker
PACKAGE_CHECK_INTERVAL=12h     # defaults to 12h when left out
PACKAGE_CHECK_WORKER_COUNT=5  # defaults to 5 workers when left out
PACKAGE_CHECK_SKIP_INTERVAL=5m  # defaults to 5m when left out