# Rename this file to ".env", set apporpriate file permissions (0600) and fill in all fields based on your setup

# URL adress where this app will be available
SERVER_URL=http://localhost:8080
# Database credentials
DB_HOST=localhost
DB_PORT=5432
DB_USER=user123
DB_PASS=password123
DB_NAME=db_name_123
DB_SSLMODE=require # or disable
# Client IDs and SECRETs for identity prviders that will be used fo OIDC
GOOGLE_OAUTH2_CLIENT_ID=XXXX
GOOGLE_OAUTH2_CLIENT_SECRET=XXXX